.blue-header {
    background-color: blue;
    color: white;
    padding: 8px;
}
.sidebar {
    background-color: brown;
    color: white;
    width: 200px;
    height: 100vh;
    position: fixed;
    padding: 6px;
}
.content {
    margin-left: 210px;
    padding: 10px;
}
@media (max-width: 800px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: static;
    }
    .content {
        margin-left: 0;
    }
}
@media (max-width: 500px) {
    .sidebar {
        padding: 3px;
    }
    .content {
        padding: 5px;
    }
}